div{
    column-count: 4;
    column-width:250px;
    column-rule: 2px solid;
    column-gap: 1rem;
    margin-top: 0;
    background-color: beige;
}


.wrap{
  
    background-color: blueviolet;
    max-width: 200px;
    text-align: center;
    margin:2rem;
    padding:10px;
    break-inside: avoid;
    break-before: column;
}
.quote{
    column-span: all;
    white-space: nowrap;
    text-align: center;
    border-top: 10px black;
    background-color: aliceblue;
}