@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
 

    padding: 10px;
    gap: 2rem;
    font-family: 'Nunito', sans-serif;
    line-height: 3rem;
    font-size: 2rem;
  

    background-color: #9cb1ba;
    color: white;
}

header{
     
    color: black;
    letter-spacing: 5px;
    position:sticky;
    top: 0cm;
    left:0;
    right: 0;
    background-color: rgb(190, 190, 178);
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;

}
ul li a{

    text-decoration:none ;
    color: rgb(224, 171, 17);

}
ul li a:hover ,
ul li a:active{  
    color: cyan;
    text-decoration:none ;

    font-size: larger;
}
ul li{
    list-style: none;
}
main{
    width: auto;
    margin-top: 200px;
    margin-left: auto;
  
    border-radius: 45px;
    border-radius: 10px;
    background: linear-gradient(315deg, #0b162d, #0d1a36);
    box-shadow:  -20px -20px 60px #0a142b,
                 20px 20px 60px #0e1c3a;
                 z-index: 0;

    line-height: 4rem;
}

nav ul.list {

    background-color: rgb(47, 58, 58);
 
    line-height: 4em;
    text-wrap: nowrap; 

    height: fit-content; 
 
}
nav .nav_position{
    position: sticky;
    top: 200px;
    background-color: red;
}
footer{


    height: 70vh;
    width: 100%;
    background-color: black;

    border-radius: 20px 20px 0 0;
    

}
.sidebar{
    width: 60px;
    height: 100vh;
    background-color: #222;
    padding:20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 1rem 1rem 1rem;
    transition: width 6.05  6.25 ease;

    position: absolute;
    bottom:0;
}
.sidebar:active,:hover{
    width:fit-content;
    transition-delay: 2s;
}

video{
    height:500px;
}

div.box{
    border-right:1px solid white;
    line-height: 4ch;
}
footer{
    max-height: 10vh  ;
}